[submodule "searchIndex/obsidian-help"]
	path = searchIndex/obsidian-help
	url = https://github.com/obsidianmd/obsidian-help
[submodule "searchIndex/obsidian-developer-docs"]
	path = searchIndex/obsidian-developer-docs
	url = https://github.com/obsidianmd/obsidian-developer-docs
